.invisible
{
	display: none;
}

.right-float
{
	float: right;
}

.modal-body 
{
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

span.plan-title
{
	font-size: 1em;
}

span.plan-validity
{
	font-size: 0.8em;
}

span.plan-price
{
	font-size: 0.8em;
}

.single-university
{
	margin-bottom: 20px;
}

div.price-container
{
	margin-bottom: 20px;
}

.bottom-gap
{
	margin-bottom: 20px;
}

.top-gap
{
	margin-top: 20px;
}

.right-align
{
	float: right;
}

.align-center
{
	text-align: center;
}

.center-align
{
	text-align: center;
}

.payment-form-container
{
	margin-top: 30px;
}

p.menu-divider
{
	text-align: center;
	margin-top: 5px;
}

p.menu-divider span
{
	font-weight: 600;
	color: #00b6ad;
}

.chat-contact-list
{
	height: 68vh;
	overflow: auto;
}

div.appended-content-body
{
	height: 63vh;
}

ul.media-list.media-list-bubble
{
	height: 60vh;
	overflow: auto;
}

.chat-canvas__list-file-img
{
	width: 180px;
	height: 150px;
}

.media-text a
{
	color: #f2f2f2;
}

div.welcome
{
	font-weight: 600;
	color: #00b1e1;
	text-align: center;
}

a.renew-links
{
	color: #ffffff;
}

.vid
{
	background-color: black;
}

.local-vid-parent
{
	position: absolute;
    float: right;
    top: 268px;
    left: 604px;
    border-top: 1px solid white;
    border-left: 1px solid white;
}

video#local-vid-container {
    width: 200px;
}

video#remote-vid-container {
    width: 700px;
}

div#remote-vid-placeholder
{
	width: 700px;
	height: 350px;
}

#control-container-parent
{
	text-align: center;
}

#control-container
{
	margin: 0 auto;
}

#remote-vid-placeholder
{
	text-align: center;
}

#call-model-profile-image
{
	height: 150px;
	padding-bottom: 20px;
}

#timer-container
{
	height: 30px;
}